:root {
  --body-bg-color: #e5ecef;
  --theme-bg-color: #fff;
  --settings-icon-hover: #9fa7ac;
  --developer-color: #f9fafb;
  --input-bg: #f8f8fa;
  --input-chat-color: #a2a2a2;
  --border-color: #eef2f4;
  --body-font: "Manrope", sans-serif;
  --body-color: #273346;
  --settings-icon-color: #c1c7cd;
  --msg-message: #969eaa;
  --chat-text-bg: #f1f2f6;
  --theme-color: #444444;
  --msg-date: #c0c7d2;
  --button-bg-color: #f3f7fa;
  --button-color: var(--theme-color);
  --detail-font-color: #919ca2;
  --msg-hover-bg: rgba(238, 242, 244, 0.4);
  --chat-header-bg: white;
}

.dark-mode {
  --body-bg-color: #1d1d1d;
  --theme-bg-color: #27292d;
  --border-color: #323336;
  --body-color: #d1d1d2;
  --msg-hover-bg: rgba(47, 50, 56, 0.54);
  --chat-text-bg: #383b40;
  --chat-text-color: #b5b7ba;
  --msg-date: #626466;
  --msg-message: var(--msg-date);
  --input-bg: #2f3236;
  --chat-header-bg: #27292d 78%;
  --settings-icon-color: #7c7e80;
  --developer-color: var(--border-color);
  --button-bg-color: #393b40;
  --button-color: var(--body-color);
  --input-chat-color: #6f7073;
  --detail-font-color: var(--input-chat-color);
}

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font);
  color: var(--body-color);
  overflow-x: hidden;
  width: 100%;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-bg-color);
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
aside {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  right: -100px;
  z-index: 10;
  scale: 1.25;
  transition: 0.5s;
  transform: translateX(200px);
}
aside .base {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  transform: rotateZ(180deg);
  transition: 1.5s;
}
aside .base .my-project{
  height: 50px;
  width: 50px;
  margin-left: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.211);
  transition: 0.5s;
}
aside .base .my-project:hover > span{
  opacity: 1;
  pointer-events: auto;
  margin-right: 65px;
}
aside .base a{
  text-decoration: none;
}
aside .base i{
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border: 1px solid var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.111);
  transition:  all 0.8s cubic-bezier(0.4,-0.55,0.265,1.55);
}
aside .base i:hover{
  transform: rotateZ(360deg);
  scale: 1.3;
}
aside .base .work-on{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: 0.5s;
}
aside .base .work-on:hover > span{
  opacity: 1;
  pointer-events: auto;
  margin-right: 65px;
}
aside .base .contact{
  height: 50px;
  width: 50px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: 0.5s;
}
aside .base .contact:hover > span{
  opacity: 1;
  pointer-events: auto;
  margin-right: 65px;
}
aside .base span{
  width: fit-content;
  display: block;
  position: absolute;
  width:max-content;
  font-size: 12px;
  margin-right: 0;
  background-color: var(--button-color);
  color: var(--button-bg-color);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.211);
  border-radius: 50px;
  padding: 10px 20px;
  pointer-events: none;
  opacity: 0;
  transition:  all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
  z-index: -1;
}
aside .base span::before{
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: var(--button-color);
  right: 0;
  transform: rotateZ(45deg);
  top: 25%;
}

aside .curve{
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.411);
  border-radius: 50%;
  top: center;
  right: 0;
  font-size: 180px;
  transition: 2s;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.conversation-area,
.detail-area {
  width: 340px;
  flex-shrink: 0;
}

.detail-area {
  border-left: 1px solid var(--border-color);
  margin-left: auto;
  padding: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
}

.chat-area {
  flex-grow: 1;
}
.user-info {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.user-info i{
  padding: 10px 25px;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  margin: 0 10px;
}
.user-info a{
  text-decoration: none;
  color: var(--button-color);
}
.user-info i::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -30px;
  background-color: var(--button-bg-color);
  transition: 0.5s;
}
.user-info i:hover::after{
  bottom: -7px;
}
.user-info i h6{
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  font-size: 10px;
  color: rgb(255, 0, 0);
  cursor: pointer;
  z-index: inherit;
}
.user-info i:hover{
  background: rgba(170, 170, 170, 0.226);
  border-radius: 5px;
}
.user-info i span{
  margin-left: 5px;
}
.user-info .notification{
  position: absolute;
  padding: 10px;
  width: 350px;
  top: 70px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.192);
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border-radius: 10px;
  z-index: 15;
  transition: 0.5s;
}
.user-info .notification::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  transform: rotateZ(45deg);
  z-index: -1;
  right: 32%;
  background-color: var(--button-bg-color);
}
.user-info .notification ul {
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  max-height: 320px;
}
.user-info .notification ul::-webkit-scrollbar{
  width: 5px;
  border-radius: 25px;
}
.user-info .notification ul::-webkit-scrollbar-track{
  background: #f1f1f1d7;
}
.user-info .notification ul::-webkit-scrollbar-thumb{
  background: #707070;
  border-radius: 30px;
  transition: 0.5s;
}
.user-info .notification ul::-webkit-scrollbar-thumb:hover{
  background: #787878;
}
.user-info .notification ul li{
  padding: 5px;
  list-style: none;
  font-size: 12px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-info .notification li:hover{    
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.192);
}
.user-info .notification ul span{
  font-size: 12px;
  color: gray;
  right: 0;
  text-align: center;
}
.logo {
  width: 60px;
  flex-shrink: 0;
}
.logo i {
  width: 100%;
}

.user-settings {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
}
.user-settings > * + * {
  margin-left: 14px;
}

.drop-wrapper{
  position: relative;
}

.drop-menu{
  position: absolute;
  z-index: 10;
  transition:  all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
  scale: 0;
}
.user-log{
  left: -100px;
  width: 150px;
  background: var(--theme-bg-color);
}
.not{
  width: 700px;
  top: -40px;
  left: -270px;
}
.drop-menu.active{
  scale: 1;
}

.drop-menu a{
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background: var(--theme-color);
  color: white;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}
.user-log a:hover{
  background: rgba(94, 94, 94, 0.822);
}
.dark-light {
  width: 22px;
  height: 22px;
  color: var(--settings-icon-color);
  flex-shrink: 0;
}
.dark-light i {
  width: 100%;
  fill: transparent;
  transition: 0.5s;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.settings {
  color: var(--settings-icon-color);
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

.conversation-area {
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-area {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.chat-area{
  scroll-behavior: smooth;
}

.chat-area::-webkit-scrollbar{
  width: 5px;
  border-radius: 25px;
}
.chat-area::-webkit-scrollbar-track{
  background: #f1f1f1d7;
}
.chat-area::-webkit-scrollbar-thumb{
  background: #707070;
  border-radius: 30px;
  transition: 0.5s;
}
.chat-area::-webkit-scrollbar-thumb:hover{
  background: #787878;
}

.chat-area-header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: var(--chat-header-bg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.200);
}
.chat-area-header i{
  background: var(--button-bg-color);
  padding: 12px 13px;
  color: var(--button-color);
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s
}
.chat-area-header button{
  background: var(--button-bg-color);
  color: var(--button-color);
  border: none;
  border-radius: 20px;
  padding: 0 20px 0 0;
  cursor: pointer;
  transition: 0.3s
}
.chat-area-header i:hover{
  background: rgb(68, 125, 165);
  color: white;
}
.chat-area-header button:hover{
  background: rgba(68, 125, 165);
  color: white;
}
.chat-area-header button:hover > i{  
  background: rgba(68, 125, 165);
  color: white;
}
.chat-area-profile {
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.chat-area-title {
  font-size: 18px;
  font-weight: 600;
}
.chat-area-main {
  flex-grow: 1;
  height: 800px;
}
.chat-area-main .project-team{
  padding: 20px;
}
.chat-area-main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.chat-area-main .cards-tasks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.chat-area-main .cards .card{
  height: 200px;
  background: var(--button-bg-color);
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(39, 32, 32, 0.389);
  margin: 10px;
  padding: 10px;  
  filter: opacity(0.7);
  cursor: pointer;
  transition: 0.4s;
}
.chat-area-main .cards .task{
  height: 85px;
}

.chat-area-main .cards .task .task-type{
  display: block;
  padding: .5rem;
  cursor: pointer;
  transition: 0.3s;
}
.chat-area-main .cards .task .task-type .task-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-area-main .cards .task .task-type .task-name .task-status{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-area-main .cards .task .task-type .task-name .task-status i{
  font-size: 12px;
  margin: 0 10px;
  cursor: pointer;
}
.chat-area-main .cards .task .task-description{
  font-size: small;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.chat-area-main .cards .task .users-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-area-main .cards .task .users-list .team {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: -7px;
  border: 2px solid white;
  display: flex;
  overflow: hidden;
}
.chat-area-main .cards .task .users-list .team img {
  width: 25px;
}

.chat-area-main .cards .card:hover{
  filter: opacity(1);
}
.chat-area-main .cards .card .title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.chat-area-main .cards .card .title .name{
  display: flex;
}
.chat-area-main .cards .card hr{
  margin: 5px 20px;
}
.chat-area-main .cards .card p {
  font-size: 12px;
  margin: 10px;
  height: 70px;
}
.chat-area-main .cards .card .foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.chat-area-main .cards .card .foot .chat-area-group{
  scale: 0.7;
  margin: 0;
}
.chat-area-main .cards .card .foot p{
  margin: 0;
  height: 0;
}
.chat-area-main .cards .card h4{
  font-size: 14px;
  margin: 5px;
}
